@charset "utf-8";
.container{
    margin:0 auto;
    text-align: center;
}
 
h1{
    font-family: "East Sea Dokdo", cursive;
    color:blue;
}

#result-area{
    color:black;
    font-size:large;
    font-weight: bold;
    font-family: "East Sea Dokdo", cursive;
}

#chance-area{
    color:black;
    font-weight: bold;
}

input{
    width: 300px;
}

#play-button{
    background-color: gray;
    height:30px;
}

#reset-button{
    background-color: gray;
    height:30px;
}